<form class="example-form">
    <h1>Deletar Categoria</h1>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="categoria.nome" matInput type="text" name="nome" disabled>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea [(ngModel)]="categoria.descricao" matInput type="text" name="descricao" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" class="mat-elevation-z4" mat-stroked-button color="accent">DELETAR</button>
        <button (click)="cancel()" class="mat-elevation-z4" mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>